<h1>List leagues</h1>

<h5><%= link_to "Add league", new_league_path, class: "btn btn-warning btn-small" %></h5>

<%= render 'filter' %>

<center><%= will_paginate %></center>

<div class="row">
    <div class="col-md-12">
        <table class="table">
            <tr>
                <th>League name</th>
                <th>League image</th>
                <th>League type</th>
                <th>Active</th>
                <th></th>
            </tr>
            <% @leagues.each do |league| %>
            <tr>
                <td><%= link_to league.league_name, edit_league_path(league) %></td>
                <td>
                    <%= image_tag(league.league_image.url, size: "80x80", class: "gravatar") if league.league_image? %>
                </td>
                <td><%= league.league_type %></td>
                <td><%= league.active %></td>
                <td>
                    <%= link_to "Edit", edit_league_path(league) %> | 
                    <%= link_to "Delete" %>
                </td>
            </tr>
            <% end %>
        </table>
    </div>
</div>

<center><%= will_paginate %></center>