<p>
    <h1><%= @league.league_name %></h1>
</p>
<div class="row">
    <div class="col-md-12">
        <p>
            League name: <%= @league.league_name %>
        </p>
        <p>
            League type: <%= @league.league_type %>
        </p>
        <p>
            Active: <%= @league.active %>
        </p>
    </div>
</div>

<h5>
    <%= link_to "Return to leagues listing", leagues_path, class: "btn btn-warning btn-small" %> 
</h5>