<h1>List teams</h1>

<h5><%= link_to "Add team", new_team_path, class: "btn btn-warning btn-small" %></h5>

<%= render 'filter' %>

<center><%= will_paginate %></center>

<div class="row">
    <div class="col-md-12">
        <table class="table">
            <tr>
                <th>Name</th>
                <th>Image</th>
                <th>League</th>
                <th>Total matches</th>
                <th>Total points</th>
                <th></th>
            </tr>
            <% @teams.each do |team| %>
            <tr>
                <td><%= link_to team.name, edit_team_path(team) %></td>
                <td>
                    <%= image_tag(team.image.url, size: "80x80", class: "gravatar") if team.image? %>
                </td>
                <td><%= team.league.league_name %></td>
                <td><%= team.total_matches %></td>
                <td><%= team.total_points %></td>
                <td>
                    <%= link_to "Show", team_path(team) %> | 
                    <%= link_to "Edit", edit_team_path(team) %> | 
                    <%= link_to "Delete" %>
                </td>
            </tr>
            <% end %>
        </table>
    </div>
</div>

<center><%= will_paginate %></center>